Django==1.10.2
django-mongodb-engine==0.6.0
django-pipeline==1.6.13
django-pipeline-browserify==0.6.1
django-webpack-loader==0.3.3
djangorestframework==3.4.7
djangotoolbox==1.8.0
futures==3.1.1
gunicorn==19.7.1
whitenoise==3.3.0
