Django==1.10.2
django-mongodb-engine==0.6.0
django-pipeline==1.6.13
django-pipeline-browserify==0.6.1
django-webpack-loader==0.3.3
djangorestframework==3.4.7
djangotoolbox==1.8.0
futures==3.1.1
gunicorn==19.7.1
mongoengine==0.8.0
pymongo==3.4.0
python-dateutil==2.6.0
pytz==2017.2
virtualenv==15.1.0
whitenoise==3.3.0
