{% load render_bundle from webpack_loader %}
{% load static from staticfiles %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>AlgoMapper</title>
    <link rel='shortcut icon' type='image/x-icon' href="{% static 'images/logo.png' %}?{% now "U" %}" />
    <link rel="stylesheet" href="{% static 'css/reset.css' %}?{% now "U" %}" />
    <link rel="stylesheet" href="{% static 'css/header.css' %}?{% now "U" %}" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}?{% now "U" %}" />
    <link rel="stylesheet" href="{% static 'css/show.css' %}?{% now "U" %}" />
    <link rel="stylesheet" href="{% static 'css/comparison.css' %}?{% now "U" %}" />
    <link rel="stylesheet" href="{% static 'css/atom-one-dark.css' %}?{% now "U" %}" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/tomorrow-night.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Ek+Mukta" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet" />
    <script src="https://d3js.org/d3.v4.min.js"></script>

  </head>

  <body>
    <div id="root"></div>
    {% render_bundle 'main' %}
  </body>
</html>
