main.comp-main {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
}

section.comp-main {
  width: 100%;
  height: 100%;
  padding-bottom: 15px;
  min-width: 600px;
  background: #010023;
  display: flex;
  justify-content: center;
}

ul.comp-visualization {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1200px;
  min-width: 600px;
  height: 100%;
  width: 1200px;
}

ul.comp-visualization li {
  display: flex;
  flex-direction: column;
  flex-grow: 0.4;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-top: 30px;
}
ul.comp-visualization li > div {
  width: 100%;
  height: 500px;
  border: 1.5px solid #eaeaea;
  border-radius: 4px;
  background: white;
  display: flex;
  justify-content: center;
}

ul.comp-visualization select{
  font-family: inherit;
  font-size: 15pt;
  border: 1px solid lavender;
  border-radius:  5px;
  padding: 5px;
  margin-bottom: 10px;
  outline: none;
}
ul.comp-visualization option{
  font-family: inherit;
  font-size: 15pt;
  border: none;
}
section.comp-arrows {
  width: 100%;
  max-width: 1200px;
  min-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
section.comp-arrows figure {
  width: 70px;
  height: 70px;
  background-image: url('../images/arrow_gray.png');
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 15px 15px 15px 15px;
  cursor: pointer;
}

section.comp-arrows figure:active {
  background-image: url('../images/arrow_blue.png');
}

section.comp-arrows figure:last-child {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

section.comp-graph {
  width: 100%;
  max-width: 1200px;
  min-width: 600px;
  margin: 0 auto;
}

section.comp-graph ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section.comp-graph li{
  height: 500px;
  align-items: flex-start;
}
section.comp-graph li.comp-graph {
  flex: 1;
}
section.comp-graph div.comp-graph{
  height: 500px;
  margin: 20px, 20px, 30px, 50px;
}

section.comp-graph li.comp-graph-code{
  width: 30%;
  overflow: scroll;
}
section.comp-graph li.comp-graph-code pre {
  margin: 0;
}
section.comp-graph li.comp-graph-code code {
  padding: 10px;
}

g.tick text {
  font-size: 9;
}

div.comp-graph {
  position: relative;
}

.tooltip {
  position: absolute;
  background-color: #F4F4F4;
  padding: 5px;
  width: 90px;
}
.dot {
  cursor: pointer;
}
div.comp-graph svg {
  z-index: 0;
}
div.comp-graph-button {
  width: 100%;
  /*height: 100%;*/
  background-color: lightgray;
  opacity: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
}

div.comp-graph-button figure{
  background-repeat: no-repeat;
  background-size: 100%;
  width: 40%;
  height: 40%;
  opacity: 1;
  cursor: pointer;
  margin: 105px 0 0 -100px;
  padding: 0;
}

pre {
  width: 700px;
  overflow: hidden;
}
