main.show-main {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 30px;
  background: #146a82; /* Old browsers */
  background: -moz-linear-gradient(left, #146a82 0%, #61b5d3 34%, #61b5d3 68%, #146a82 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #146a82 0%,#61b5d3 34%,#61b5d3 68%,#146a82 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #146a82 0%,#61b5d3 34%,#61b5d3 68%,#146a82 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

section.show-main {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  min-width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1.show-name {
  padding: 0px;
  color: white;
  font-size: 50px;
  font-weight: 400;
}

ul.visualization {
  display: flex;
  margin: 0;
  min-height: 500px;
}

aside.show-code {
  height: 500px;
  flex-grow: 1;
  border: 0px solid Gray;
  overflow: scroll;
  overflow-x: hidden;
  /*border-left: 3px solid DarkGray;*/
}
aside.show-code pre {
  margin: 0;
}
aside.show-code code {
  padding: 10px;
}

div.visualization {
  height: 500px;
  width: 500px;
  background: White;
  border: 0px solid Gray;
  margin-right: 30px;
}

section.show-algo-bottom {
  width: 100%;
  max-width: 1200px;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  /*margin-bottom: 50px;*/
  background-color: white;
}

section.show-algo-bottom > div{
  margin: 40px;
}

section.show-algo-bottom h1{
  color: #44A7C3;
  padding-bottom: 10px;
  margin-left: -20px;
  font-size: 25pt;
}

section.show-algo-bottom p {
  font-size: 13pt;
  padding-bottom: 15px;
}

ul.show-algo-description {
  display: flex;
}

ul.show-algo-description h3{
  font-size: 20pt;
}

div.show-how-it-works {
  flex: 2;
  margin-right: 30px;
}

aside.show-pros-n-cons {
  flex: 1;
}
